@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap&subset=latin-ext');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: $nsa-main-color;
}

h1 {
    font-family: $nsa-title-font;    
}

li {
    list-style: none;
}