/* Colors */
$nsa-main-color: #002d5f;
$nsa-bg-color: rgb(255, 255, 255);
$nsa-bg-dark-color :#00152c;
$nsa-bg-dark2-color: #004d5f;
$nsa-border-color: rgb(48, 48, 48);
$nsa-text-light-color: rgb(255, 255, 255);
$nsa-text-dark-color: rgb(189, 206, 214);
$nsa-map-blue-color: rgb(32, 74, 135);
$nsa-contrast-color: #ffbb00;

/* Font sizes */

/* Sizes */

/* Fonts */
$nsa-title-font: 'Roboto Slab', serif;

/* Paddings and margins */

/* Media queries */

/* Border tables */