/* Colors */
$nsa-main-color: #002d5f;
$nsa-bg-color: rgb(255, 255, 255);
$nsa-bg-dark-color:#00152c;
$nsa-bg-dark2-color: #004d5f;
$nsa-border-color: rgb(65, 65, 65);
$nsa-text-light-color: rgb(255, 255, 255);
$nsa-text-dark-color: rgb(189, 206, 214);
$nsa-map-blue-color: #204a87;
$nsa-contrast-color: #ffbb00;
$nsa-contrast-light-color: #fcc11f;

/* Font sizes */

/* Sizes */

/* Fonts */
$nsa-title-font: 'Roboto Slab', serif;

/* Paddings and margins */

/* Media queries */
$nsa-long-screen: min-aspect-ratio;
$nsa-long-screen-value: 16/7;

/* Border tables */