#executive {
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;

    .h4 {
        font-weight: bold;
        color: $nsa-main-color;
        padding: 10px 0;
    }

    .row {
        padding: 0 5%;

        div {
            padding: 20px 0;   
            
            .circle {
                padding: 0;                
            }

            div {

                .h5 {
                    font-weight: bold;

                    &:first-of-type {
                        color: $nsa-map-blue-color;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}