footer {
    background-color: $nsa-border-color;
    color: $nsa-text-light-color;
    padding: 20px 0;



    .container {
        padding: 0;
        max-width: 100%;
        margin: 0;
        display: block;
        position: relative;

        @media (min-width: 992px) {
            max-width: 1200px;
            margin: 0 auto;
        }

        .row {
            width: 100%;
            margin: 0;
            padding: 0 1%;

            @media only screen and (orientation: landscape) {
                padding: 0 10%;
            }

            @media (min-width: 768px) {
                padding: 0 10%;
            }


            @media (min-width: 1024px) {
                padding: 0 5%;
            }

            .col {
                margin: 0;
                position: relative;

                ul {
                    li {
                        font-size: 14px;
                    }
                }

                img {
                    width: 60px;
                    position: absolute;
                    right: 5%;
                    top: 10px;

                    @media (min-width: 1024px) {
                        left: 40%;
                        transform: translateX(-50%);
                    }

                    @media (min-width: 1140px) {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            &:nth-of-type(2) {

                border-top: solid .5px $nsa-text-dark-color;
                padding-top: 20px;

                .col {
                    p {
                        font-size: 14px;
                        color: $nsa-text-light-color;
                    }

                    div {
                        font-size: 14px;
                        color: $nsa-text-dark-color;

                        a {
                            font-size: 14px;
                            color: $nsa-text-dark-color;
                        }

                        &:nth-of-type(2) {
                            display: none;
                        }
                    }
                }

                @media (min-width: 1024px) {
                    border-top: none;
                    position: absolute;
                    top: 0;
                    right: 0;

                    .col {

                        p,
                        div {                            
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}