#info {
    padding-bottom: 20px;

    .row {
        padding: 0 5%;

        @media (min-width: 768px) {
            padding: 0 1%;
        }

        div {
            padding-top: 20px;
            color: $nsa-map-blue-color;

            @media (min-width: 992px) {
                padding: 20px 20px;
            }

            div {

                img {
                    width: 100px;
                    padding: 10px;
                }
            }

            div {
                
            }

            /*&:first-of-type {
                div {

                    img {
                        width: 100px;
                        padding: 0px;
                    }
                }
            }*/
        }
    }
}