#journal {
    .section-title {
        text-align: center;
        //margin: 0;
        padding: 20px 0;
    }

    .row {
        div {
            div {
                div {
                    div {
                        .card-body {
                            .article-title {
                                margin-bottom: 10px;
                            }

                            .card-text {
                                color: $nsa-border-color;
                            }

                            .list-group {
                                text-align: center;

                                .list-group-item-action.active {
                                    background-color: $nsa-text-dark-color;
                                    border: $nsa-text-dark-color;
                                }
                            }


                        }
                    }
                }
            }
        }

        &:hover {
            div {
                div {
                    div {
                        div {
                            .card-body {
                                .list-group {
                                    .list-group-item-action.active {
                                        background-color: $nsa-map-blue-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}