.jumbotron {
    background-color: $nsa-bg-dark-color;
    background-image: url("../../images/map-of-europe-equidistant-hi.png"), linear-gradient(to bottom, $nsa-bg-dark2-color, $nsa-bg-dark-color);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    border-radius: 0%;
    text-align: center;
    position: relative;
    color: $nsa-bg-color;
    height: 80vh;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    padding: 10px;

    @media only screen and (orientation: landscape) {
        width: 100%;
        max-width: 1200px;
    }



    .row {
        justify-content: center;
        align-items: stretch;
        width: 100%;
        margin: 0 auto;

        .box {
            margin: 6% 10%;

            @media only screen and (orientation: landscape) {
                margin: 1% 1%;
            }

            &:first-of-type {
                min-height: 150px;
                background-image: url("../../images/atom-seablue-col.png");
                background-size: 150px;
                background-repeat: no-repeat;
                background-position: top;
                line-height: 100%;

                @media only screen and (orientation: landscape) {
                    background-size: 80px;
                    min-height: 80px;
                    //background-image: url("../../images/atom-blue-green-col.png");
                }

                @media only screen and (orientation: landscape) and (max-height: 600px) {
                    min-height: 78px;
                    background-size: 68px;
                }
            }

            img {
                display: inline-block;
                height: 45px;
                line-height: 66px;
                margin: 0 5px 5px;
            }


            h1 {
                font-weight: normal;
                font-size: 45px;
                display: inline-block;
                margin-top: 10%;
                text-shadow: 0px 0px 10px $nsa-bg-dark-color;



                @media only screen and (orientation: landscape) {
                    font-size: 40px;
                    margin: 10px 0;
                    line-height: 60px;
                }

                @media only screen and (orientation: landscape) and (max-height: 600px) {
                    font-size: 38px;
                    margin: 10px 0;
                    line-height: 46px;
                }
            }


            .my-4 {
                background-color: $nsa-bg-color;
            }
        }
    }
}