.jumbotron {
    background-color: $nsa-bg-dark-color;
    background-image: url(""), linear-gradient(to bottom, $nsa-bg-dark2-color, $nsa-bg-dark-color);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    border-radius: 0%;
    text-align: center;
    position: relative;
    color: $nsa-bg-color;
    height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;

    .row {        
        justify-content: center;
        align-items: stretch;
        
        .box {
            margin: 6% 10%;

            h1 {
                font-weight: normal;
                font-size: 40px;
            }

            .my-4 {
                background-color: $nsa-bg-color;
            }
        }
    }
}